form{
    opacity: 0.9;
    /* padding: 2px; */
    
}
@media only screen and (max-width: 768px) {
    .overlay {
      display: none !important;
    }
   
    .swap{
      
      order: 1
    }
    
    .mid{
      order: -1;
    }
    
   
    .head-img{
      display: none;
   background-image: url(https://w0.peakpx.com/wallpaper/927/891/HD-wallpaper-mvc-megaman-capcom-m1s2-marvel-megaman-mvc.jpg);
        width: 100%;
        height: 100%;
        
     }
  }

  @media only screen and (min-width: 768px) {
    .back-img {
      display: none !important;
    }
    .list-group{
      position: absolute;
     overflow-y: auto;
     right: 1em;
     order: 0;
     top: 10em
    }
    .mid{
      order: 0;
      background-image: url('https://c.tenor.com/gXXHVCNcPLEAAAAC/guilty-gear-xrd-baiken.gif') !important;
      background-size: cover;
      color: aliceblue;
    }
    .not{
      order:-1;
    }
    .not2{
      order: 1;
    }
    
   
}
.mid{
  order: 0;
  background-image: url('https://c.tenor.com/gXXHVCNcPLEAAAAC/guilty-gear-xrd-baiken.gif') !important;
  background-size: cover;
  color: aliceblue;
}
.sf{
    font-family: 'Koulen', cursive;
    
}



.list-group-item{
  background-color: rgb(96, 7, 23);
  color: aliceblue;
  
}
.list-group{
  position: relative;
  
  padding-top : 1em;
  padding-bottom: 2em;
min-width: 100%;

}
.sfl{
  
 max-width: 3em;
}
.foot{
  background-image: url(https://i.makeagif.com/media/9-23-2016/NreqPH.gif);
  /* background-size: cover; */
max-width: 100%;

object-position: center;
max-height: 50%;

}